/**
 *  
 *  File Name : main.css.
 * 
 *  Program Creation date: 3rd October 2020.
 * 
 *  @Author: Utsavkumar M Patel (000820474).
 * 
 *  Purpose : This is main.css file which is used to give the same-layout and color of the websites. 
 *  
 *  (Statement of Authorships:)
 *  I, Utsavkuamar M Patel, Student Number 000820474,
 *  certify that this material is my original work.
 *  No other person's work has been used without due acknowledgement. 
 * 
 **/




 body{
           
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(0, 0, 0);
    font-size: medium;
    font-style: italic;
    color:white;
   
    
}

h2{

    color:rgb(111, 194, 91);
    text-align: center;

}


form{
    
    color: rgb(36, 36, 170);

}

input{
    
    color:rgb(52, 146, 68);
    
}


h6{
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    font-size: small;
    font-weight: 600;
    text-align: center;
    color: rgb(235, 15, 26);

}


hr{
    
    color:black;
    background-color: black;

}


h3{
   text-align: center;
}